.cadre_exercice{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    padding: 2em;
}

.cadre_numero_exercice{
     border-width: 0.4px;
    border-color: rgba(52, 8, 227, 0.714);
    border-style: dashed;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1rem;
}



button {
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.paragraphe_affichage {
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-left: 4px solid #007bff;
}
